body{
    background-color: blueviolet;
    color: rgb(0, 0, 0);
    font-size:60px;
    font-family: cursive;
}

img{ 
    width: 200px;
}

.paragrafo{
      color:blueviolet
       font-size: 20px
}

#ronaldo{
    font-family: sans-serif;
}